# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# IDE
/.idea

# Secrets
config.json
cert.pem
key.pem

# acvptool
log

# Uncompressed files
SHA2-224
SHA2-256
SHA2-384
SHA2-512
SHA2-512-224
SHA2-512-256
SHA3-224
SHA3-256
SHA3-384
SHA3-512
SHAKE-128
SHAKE-256
HMAC-SHA2-224
HMAC-SHA2-256
HMAC-SHA2-384
HMAC-SHA2-512
HMAC-SHA2-512-224
HMAC-SHA2-512-256
HMAC-SHA3-224
HMAC-SHA3-256
HMAC-SHA3-384
HMAC-SHA3-512
PBKDF
ECDSA
EDDSA
ACVP-AES-ECB
ACVP-AES-CBC
ACVP-AES-CTR
ACVP-AES-GCM
DetECDSA
CMAC-AES
KDA
TLS-v1.2
